.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#AiCallMetrics {
  height: 70%;
}

span {
  background: linear-gradient(to right, rgb(34, 221, 231), rgb(237, 4, 125));
  font-size: 2vmax;
  background-clip: text;
  color: transparent;
}

button {
  margin-top: 15px;
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgb(79, 224, 234);
  box-shadow: 2px 2px 50px rgb(79, 224, 234);
}

#speak {
  width: 100px;
}

p {
  font-size: 1.5vmax;
  color: white;
}

.response {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#aigif{
  width: 50vh;
  height: 100px;

}